<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jxfw -->
      <package
            uri="http://ru.croc.ctp.jxfw/metamodel"
            class="ru.croc.ctp.jxfw.metamodel.XFWMMPackage"
            genModel="model/jxfw.genmodel"/>
   </extension>

</plugin>
